#dataTable{
    
}
#dataTable thead tr th {
    padding: 15px;
    width: 100px;
    & span {
        color: #aba6a6;
        cursor: pointer;
    }
}
#dataTable tr td {
    padding: 15px;
}
.thumbnail {
    width: 80px;
    height: 100px;
}
.tdItem {
    vertical-align: middle !important;
}
//for tablet
@media screen and (min-device-width: 481px) and (max-device-width: 1023px) {
}
//for mobile
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
    #dataTable tr th {
        padding: 5px;
        width: 100px;
    }
    #dataTable tr td {
        padding: 5px;
    }
}
